.super-mario {
    
    position: absolute;
    
    width: 200px;
    height: 200px;
}

.goomba {
    position: absolute;
    
    width: 200px;
    height: 200px;
    margin-top: 200px;
    

}

.word {
    position: absolute;
    margin: 50px;
    margin-left: 320px;
    margin-top: 70px;
    z-index: 2;
    width: 200px;
    height: 200px;
}

.baloon {
    margin-bottom: 650px;
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    margin-left: 300px
}

.bowser {
    position: absolute;
    
    width: 200px;
    height: 200px;
    margin-left: 500px;
    margin-top: 200px;
    
}