body{
    background-color: #252525;
    font-size: 16px;
}
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

p{
    font-weight: 600;
    font-size: 3em;
    line-height: 48px;
    text-align: center;
    text-decoration: underline;

}

li{
    list-style-type: none;
}

.cores {
    background-color: #30C18C;
    
}

.preto {
    background-color: black;
    color: white;
}
.branco{
    background-color: white;
}
.cinza {
    background-color: silver;
}
.verde{
    background-color:green;
}

/*
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
*/